@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap");
@keyframes slide {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(500px);
  }
  43% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  margin: 0%;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 900px) {
  body {
    margin: 0%;
  }
}
@media (min-width: 1025px) {
  body {
    margin: 0% 10% 0% 10%;
  }
}

.marge {
  margin: 0%;
}
@media (min-width: 1025px) {
  .marge {
    margin-left: 0%;
  }
}

.logo {
  text-align: center;
}
@media (min-width: 1025px) {
  .logo {
    margin-left: -3%;
  }
}

.logomenu {
  margin-left: 25%;
  width: 200px;
}
@media (min-width: 1025px) {
  .logomenu {
    margin-left: 40%;
  }
}
@media (min-width: 768px) {
  .logomenu {
    margin-left: 40%;
  }
}
@media (min-width: 900px) {
  .logomenu {
    margin-left: 42%;
  }
}

.logo_bis {
  color: white;
  font-family: "shrikhand", sans-serif;
  text-align: left;
  margin-left: 12%;
  font-size: 3.5vw;
}
@media (min-width: 768px) {
  .logo_bis {
    margin-left: 7%;
    font-size: 3vw;
  }
}
@media (min-width: 900px) {
  .logo_bis {
    margin-left: 7%;
    font-size: 2.5vw;
  }
}
@media (min-width: 1025px) {
  .logo_bis {
    font-size: 2vw;
    margin-left: 4%;
  }
}

.localisation {
  display: flex;
  justify-content: center;
  padding-top: 4%;
  flex-direction: row;
}

.picture {
  object-fit: cover;
  width: 325px;
  height: 159px;
  border-radius: 15px 15px 0px 0px;
}
@media (min-width: 768px) {
  .picture {
    width: 450px;
    height: 200px;
  }
}
@media (min-width: 1025px) {
  .picture {
    width: 440px;
    height: 160px;
  }
}
@media (min-width: 1400px) {
  .picture {
    width: 600px;
    height: 200px;
  }
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 325px;
  margin-bottom: 5%;
  margin-left: 7%;
  border: 2px grey;
  border-radius: 15px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
@media (min-width: 768px) {
  figure {
    width: 450px;
    margin-left: 14%;
  }
}
@media (min-width: 900px) {
  figure {
    margin-left: 24%;
  }
}
@media (min-width: 1025px) {
  figure {
    margin-left: 20%;
    width: 440px;
    margin: 0% 3% 3% 0%;
  }
}
@media (min-width: 1400px) {
  figure {
    margin-left: 20%;
    width: 600px;
    margin: 6% 6% 6% 2%;
  }
}

.pict_bis {
  object-fit: cover;
  width: 375px;
  margin: 0%;
}
@media (min-width: 768px) {
  .pict_bis {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .pict_bis {
    width: 1000px;
    margin-left: 0%;
  }
}
@media (min-width: 1400px) {
  .pict_bis {
    width: 1400px;
    margin-left: 4%;
  }
}

figcaption {
  text-align: left;
  margin-left: 1%;
  font-size: 4vw;
  padding: 4%;
}
@media (min-width: 768px) {
  figcaption {
    font-size: 2vw;
  }
}
@media (min-width: 1025px) {
  figcaption {
    font-size: 1.5vw;
  }
}

.mail {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.legend {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 7vw;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 5.5vw;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.5vw;
  }
}
@media (min-width: 1025px) {
  h1 {
    font-size: 3vw;
  }
}

.bold {
  text-align: left;
  font-weight: bold;
  font-size: 6vw;
  margin-left: 7%;
  font-size: 5vw;
}
@media (min-width: 768px) {
  .bold {
    font-size: 3vw;
    margin-left: 14%;
  }
}
@media (min-width: 900px) {
  .bold {
    margin-left: 24%;
  }
}
@media (min-width: 1025px) {
  .bold {
    font-size: 2.5vw;
    width: 100%;
    margin-left: 0%;
    margin-bottom: 2%;
  }
}

strong {
  font-size: 4vw;
  line-height: 150%;
}
@media (min-width: 768px) {
  strong {
    font-size: 2vw;
  }
}
@media (min-width: 1025px) {
  strong {
    font-size: 1.5vw;
  }
}

.menutitle {
  text-align: left;
  border-bottom: 1px solid #99e2d0;
  width: 12%;
  border-bottom-width: medium;
  padding-bottom: 3%;
  margin-left: 7%;
  font-size: 3.5vw;
  color: grey;
}
@media (min-width: 768px) {
  .menutitle {
    font-size: 2vw;
  }
}
@media (min-width: 1025px) {
  .menutitle {
    font-size: 1.5vw;
  }
}

.h1menu {
  font-family: "shrikhand", sans-serif;
  font-weight: bold;
  font-size: 6vw;
}
@media (min-width: 768px) {
  .h1menu {
    font-size: 3vw;
    margin-left: -25%;
  }
}
@media (min-width: 1025px) {
  .h1menu {
    font-size: 3vw;
    margin-left: -35%;
  }
}

.h1menubis {
  margin-left: 7%;
  margin-top: 5%;
  margin-bottom: 8%;
  font-family: "shrikhand", sans-serif;
  font-weight: bold;
  font-size: 6vw;
}
@media (min-width: 768px) {
  .h1menubis {
    font-size: 3vw;
  }
}
@media (min-width: 1025px) {
  .h1menubis {
    font-size: 3vw;
    width: 100%;
    display: inline;
    margin-left: 5%;
  }
}

h2 {
  text-align: center;
  font-weight: normal;
  font-size: 4vw;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.5vw;
  }
}
@media (min-width: 1025px) {
  h2 {
    font-size: 2vw;
  }
}

.menu_1.food strong {
  font-size: 4vw;
}
@media (min-width: 768px) {
  .menu_1.food strong {
    font-size: 2vw;
  }
}
@media (min-width: 900px) {
  .menu_1.food strong {
    font-size: 1.5vw;
  }
}
@media (min-width: 1025px) {
  .menu_1.food strong {
    font-size: 1vw;
  }
}

.menu_1.food span {
  float: right;
  margin-right: 2%;
}
@media (min-width: 768px) {
  .menu_1.food span {
    font-size: 2vw;
  }
}
@media (min-width: 900px) {
  .menu_1.food span {
    font-size: 1.5vw;
  }
}
@media (min-width: 1025px) {
  .menu_1.food span {
    font-size: 1vw;
  }
}

.button {
  font-size: 3.5vw;
  font-weight: bold;
  text-align: center;
  width: 53%;
  padding: 5%;
  margin-left: 20%;
  border: 2px solid;
  border-radius: 30px;
  background: linear-gradient(75deg, #ea72da, #a75cdc);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  border: 0;
}
@media (min-width: 768px) {
  .button {
    font-size: 2vw;
    padding: 3%;
    border: 0;
  }
}
@media (min-width: 900px) {
  .button {
    font-size: 2vw;
    padding: 2%;
    border: 0;
  }
}
@media (min-width: 1025px) {
  .button {
    font-size: 1.5vw;
    padding: 2.5%;
    border: 0;
  }
}

.button:hover, .menu_button:hover {
  background: linear-gradient(110deg, #ed88e0, #b271e1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  border: 0;
}

.menu_button {
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  border: 0;
  width: 43%;
  padding: 4%;
  margin-left: 25%;
  border: 2px solid;
  border-radius: 30px;
  background: linear-gradient(35deg, #ea72da, #a75cdc);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  margin-top: 6%;
  margin-bottom: 17%;
  box-shadow: none;
}
@media (min-width: 768px) {
  .menu_button {
    font-size: 2.5vw;
    padding: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 0;
  }
}
@media (min-width: 900px) {
  .menu_button {
    font-size: 2vw;
    padding: 1%;
    margin-left: 28%;
    border: 0;
  }
}
@media (min-width: 1025px) {
  .menu_button {
    font-size: 1.5vw;
    padding: 1%;
    border: 0;
  }
}

input {
  width: 100%;
  border: none;
  background-color: #eaeaea;
  font-size: 13px;
  padding-left: 6%;
  text-align: left;
}
@media (min-width: 768px) {
  input {
    font-size: 17px;
  }
}
@media (min-width: 1025px) {
  input {
    font-size: 20px;
  }
}

.nouveau {
  border: 1px solid #99e2d0;
  background-color: #99e2d0;
  color: #008766;
  width: 17%;
  padding: 1.5%;
  position: absolute;
  margin-left: 63%;
  margin-top: -47%;
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
}
@media (min-width: 768px) {
  .nouveau {
    margin-left: 44%;
    margin-top: -22%;
    font-size: 2vw;
    width: 10%;
    padding: 1%;
  }
}
@media (min-width: 900px) {
  .nouveau {
    margin-left: 30%;
  }
}
@media (min-width: 1025px) {
  .nouveau {
    margin-left: 24%;
    margin-top: -15%;
    font-size: 1vw;
    padding: 0.7%;
    width: 8%;
  }
}
@media (min-width: 1400px) {
  .nouveau {
    margin-left: 22%;
    margin-top: -14%;
    font-size: 1vw;
    padding: 0.5%;
    width: 7%;
  }
}

.menu_text {
  margin-top: 12px;
  width: 75%;
  transition: width 350ms 50ms ease-out;
}
@media (min-width: 1025px) {
  .menu_text {
    margin-left: 2%;
  }
}
.menu_text strong {
  font-size: 1.125em;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 900px) {
  .menu_text strong {
    font-size: 0.8em;
  }
}
@media (min-width: 1025px) {
  .menu_text strong {
    font-size: 0.78em;
  }
}
.menu_text span {
  font-size: 1.18em;
  font-weight: 400;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 900px) {
  .menu_text span {
    font-size: 0.7em;
  }
}
@media (min-width: 1025px) {
  .menu_text span {
    font-size: 0.56em;
  }
}

.menu_price {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  width: 15%;
  margin: 0px;
}
@media (min-width: 1025px) {
  .menu_price {
    margin-right: 0%;
  }
}
@media (min-width: 1400px) {
  .menu_price {
    margin-right: 0%;
    margin-left: 5%;
  }
}
.menu_price span {
  font-size: 1em;
  font-weight: 600;
  margin-right: -45px;
}
@media (min-width: 768px) {
  .menu_price span {
    margin-right: -120px;
  }
}
@media (min-width: 900px) {
  .menu_price span {
    font-size: 0.8em;
    margin-right: -160px;
  }
}
@media (min-width: 1025px) {
  .menu_price span {
    margin-right: 20%;
    font-size: 0.7em;
  }
}

.menu_check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 101%;
  position: absolute;
  left: 100%;
  width: 59px;
  padding: 7.3%;
  margin-bottom: 6%;
  background-color: #95e8ca;
  font-size: 6.8vw;
  margin-top: -17%;
  transition: transform 400ms ease-out;
}
@media (min-width: 768px) {
  .menu_check {
    margin-top: -14%;
    padding: 6.2%;
    margin-right: 0%;
    font-size: 3.5vw;
    width: 20%;
  }
}
@media (min-width: 900px) {
  .menu_check {
    margin-top: -12%;
    padding: 4.7%;
    margin-right: 0%;
    font-size: 3.5vw;
    width: 11%;
  }
}
@media (min-width: 1025px) {
  .menu_check {
    padding: 5.3%;
    margin-top: -19%;
    margin-right: -5.1%;
    width: 12%;
    font-size: 2.5vw;
    width: 15%;
    height: 130%;
  }
}
@media (min-width: 1400px) {
  .menu_check {
    margin-top: -22.5%;
    height: 143%;
  }
}

.fa-check-circle {
  transition: transform 400ms ease-out;
  margin-top: 80%;
  margin-right: 90%;
  color: #95e8ca;
  background-color: white;
  border-radius: 50%;
  border: 0px #95e8ca;
}
@media (min-width: 768px) {
  .fa-check-circle {
    margin-top: 55%;
    margin-right: 95%;
    font-size: 26px;
    color: #95e8ca;
    background-color: white;
    border-radius: 50%;
    border: 0px #95e8ca;
  }
}
@media (min-width: 900px) {
  .fa-check-circle {
    margin-top: 85%;
    margin-right: 70%;
    font-size: 35px;
  }
}
@media (min-width: 1025px) {
  .fa-check-circle {
    margin-top: 110%;
    margin-right: 30%;
    font-size: 27px;
  }
}
@media (min-width: 1400px) {
  .fa-check-circle {
    margin-top: 130%;
    margin-right: 60%;
  }
}

.food_all {
  animation: slide 10s ease-in-out;
  background-color: #f6f6f6;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  display: flex;
  padding: 2%;
  margin-bottom: 6%;
  width: 85%;
  margin-left: 5%;
  margin-right: 10%;
  font-size: 3vw;
  overflow: hidden;
  position: relative;
}
.food_all:hover > .menu_check {
  transform: translateX(-55px);
}
@media (min-width: 768px) {
  .food_all:hover > .menu_check {
    transform: translateX(-90px);
  }
}
@media (min-width: 900px) {
  .food_all:hover > .menu_check {
    transform: translateX(-105px);
  }
}
@media (min-width: 1025px) {
  .food_all:hover > .menu_check {
    transform: translateX(-59px);
  }
}
.food_all:hover > .menu_check i {
  transform: rotate(360deg);
}
.food_all:hover > .menu_text {
  width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1400px) {
  .food_all:hover > .menu_price {
    margin-right: 15px;
  }
}
@media (min-width: 768px) {
  .food_all {
    font-size: 2vw;
    padding: 2%;
    width: 80%;
  }
}
@media (min-width: 900px) {
  .food_all {
    padding: 2%;
    width: 75%;
  }
}
@media (min-width: 1025px) {
  .food_all {
    font-size: 1.5vw;
    width: 115%;
    margin-bottom: 10%;
  }
}

.reservation {
  margin: 0% 0 10% 0;
  padding: 4% 0 15% 0;
  background-color: #f6f6f6;
}
@media (min-width: 1025px) {
  .reservation {
    padding: 4% 0 3% 0;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 8%;
  padding-bottom: 10%;
  padding-left: 0%;
  width: 100%;
}
@media (min-width: 768px) {
  .restaurants {
    padding-left: 8%;
    width: 92%;
  }
}
@media (min-width: 900px) {
  .restaurants {
    padding-left: 10%;
    width: 90%;
  }
}
@media (min-width: 1025px) {
  .restaurants {
    margin-left: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 0%;
    width: 95%;
  }
}
@media (min-width: 1400px) {
  .restaurants {
    padding-left: 5%;
    padding-right: 0%;
    width: 95%;
  }
}

.menu {
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  margin-top: -17%;
  width: 373px;
  position: relative;
}
@media (min-width: 768px) {
  .menu {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .menu {
    width: 1000px;
    margin-left: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1400px) {
  .menu {
    width: 1400px;
    margin-left: 4%;
  }
}

@media (min-width: 1025px) {
  .menu_1 {
    margin-left: 4%;
    margin-right: 0%;
    width: 260px;
  }
}
@media (min-width: 1400px) {
  .menu_1 {
    width: 378px;
  }
}

.food_all:nth-child(1) {
  animation: slide 0s ease-in-out;
}

.food_all:nth-child(2) {
  animation: slide 1s ease-in-out;
}

.food_all:nth-child(3) {
  animation: slide 2s ease-in-out;
}

.food_all:nth-child(4) {
  animation: slide 3s ease-in-out;
}

.food_all:nth-child(5) {
  animation: slide 4s ease-in-out;
}

.food_all:nth-child(6) {
  animation: slide 5s ease-in-out;
}

.food_all:nth-child(7) {
  animation: slide 6s ease-in-out;
}

.food_all:nth-child(8) {
  animation: slide 7s ease-in-out;
}

.food_all:nth-child(9) {
  animation: slide 8s ease-in-out;
}

.food_all:nth-child(10) {
  animation: slide 9s ease-in-out;
}

/**animation slides menu**/
@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slideheart {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideheart {
  from {
    color: black;
  }
  to {
    color: transparent;
  }
}
footer {
  background-color: #353535;
  color: #ffffff;
  padding-bottom: 5%;
  padding-top: 5%;
}
@media (min-width: 768px) {
  footer {
    padding-left: 24%;
  }
}
@media (min-width: 900px) {
  footer {
    font-size: 4vw;
    padding-left: 29%;
    width: 71%;
  }
}
@media (min-width: 1025px) {
  footer {
    font-size: 1.5vw;
    padding-left: 15%;
    width: 85%;
  }
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 2%;
  font-size: 2.5vw;
}
@media (min-width: 900px) {
  li {
    font-size: 2vw;
  }
}
@media (min-width: 1025px) {
  li {
    font-size: 1.3vw;
  }
}

.choice {
  padding-bottom: 5%;
  font-size: 1.8vw;
  margin-left: 7.5%;
  margin-bottom: 2%;
  width: 80%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.choice:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}
@media (min-width: 768px) {
  .choice {
    margin-bottom: 3%;
  }
}
@media (min-width: 1025px) {
  .choice {
    margin-bottom: 0%;
    width: 60%;
    margin-left: 20%;
  }
}
.choice_proposition {
  border: 2px solid #f6f6f6;
  border-radius: 20px;
  padding: 6% 6% 6% 11%;
  text-align: center;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  background-color: #f6f6f6;
  display: block;
  justify-content: flex-end;
}
.choice_proposition:hover {
  background-color: #f5edff;
  border: 2px solid #f5edff;
}
.choice_proposition:hover .fa-mobile-alt, .choice_proposition:hover .fa-list-ul, .choice_proposition:hover .fa-store {
  color: #9356dc;
}
@media (min-width: 1025px) {
  .choice_proposition {
    padding: 4% 4% 4% 9%;
  }
}
@media (min-width: 768px) {
  .choice_proposition {
    padding: 4% 4% 4% 9%;
  }
}
.choice_number {
  margin-left: -5%;
  border: 2px solid #9356dc;
  border-radius: 50%;
  padding: 0% 0.8% 0% 0.8%;
  background-color: #9356dc;
  color: white;
  height: 1.7rem;
  width: 1.4rem;
  font-size: 11px;
  position: absolute;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
@media (min-width: 768px) {
  .choice_number {
    font-size: 17px;
    height: 1.7rem;
    width: 1.4rem;
  }
}
@media (min-width: 1025px) {
  .choice_number {
    font-size: 17px;
    height: 1.7rem;
    width: 1.4rem;
  }
}

.fa-heart.grey {
  position: relative;
  float: right;
  margin-right: 8%;
  margin-top: 7%;
  margin-left: 0%;
  font-size: 22px;
}
@media (min-width: 768px) {
  .fa-heart.grey {
    margin-top: 5%;
    font-size: 20px;
  }
}
@media (min-width: 1025px) {
  .fa-heart.grey {
    font-size: 27px;
    margin-top: 6%;
    margin-left: 90%;
    position: absolute;
  }
}

.fa-heart.full {
  display: none;
  height: 100%;
  float: right;
}

.fa-heart.grey:hover {
  animation: slideheart 1s ease-in 0s forwards;
  -webkit-animation: slideheart 1s ease-in 0s forwards;
}

.fa-heart.grey:hover .fa-heart.full {
  float: right;
  display: flex;
  position: absolute;
  animation: slide 1s ease-in 0s forwards;
  -webkit-animation: slide 1s ease-in 0s forwards;
  z-index: 1;
  width: 100%;
  background: -webkit-linear-gradient(#ea72da, #a75cdc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-left: -5%;
  margin-top: -100%;
  font-size: 22px;
}
@media (min-width: 768px) {
  .fa-heart.grey:hover .fa-heart.full {
    font-size: 20px;
  }
}
@media (min-width: 1025px) {
  .fa-heart.grey:hover .fa-heart.full {
    font-size: 27px;
  }
}

.fa-mobile-alt, .fa-list-ul, .fa-store {
  margin-right: 3%;
  padding-top: 2%;
  color: grey;
  font-size: 14px;
}
@media (min-width: 768px) {
  .fa-mobile-alt, .fa-list-ul, .fa-store {
    font-size: 20px;
  }
}

/**Animation remplissage coeur**/
.fa-heart {
  position: relative;
  margin-left: 90%;
  margin-top: 8%;
  font-size: 22px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .fa-heart {
    font-size: 20px;
  }
}
@media (min-width: 1025px) {
  .fa-heart {
    margin-left: 90%;
    margin-top: 9%;
    font-size: 27px;
  }
}

.heart {
  margin-top: -15%;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .heart {
    margin-top: -12%;
  }
}
@media (min-width: 1025px) {
  .heart {
    margin-top: -10%;
  }
}

.fa-heart.pink {
  display: none;
  height: 100%;
  float: right;
}

.fa-heart:hover {
  animation: slideheart 1s ease-in 0s forwards;
  -webkit-animation: slideheart 1s ease-in 0s forwards;
}

.fa-heart:hover .fa-heart.pink {
  float: right;
  display: flex;
  position: absolute;
  animation: slide 1s ease-in 0s forwards;
  -webkit-animation: slide 1s ease-in 0s forwards;
  z-index: 1;
  width: 100%;
  background: -webkit-linear-gradient(#ea72da, #a75cdc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-left: -2.5%;
  margin-top: -69%;
  font-size: 24px;
}
@media (min-width: 768px) {
  .fa-heart:hover .fa-heart.pink {
    margin-top: -47%;
    font-size: 21.5px;
    margin-left: -2%;
  }
}
@media (min-width: 1025px) {
  .fa-heart:hover .fa-heart.pink {
    margin-left: 0%;
    margin-top: -61%;
    font-size: 28.5px;
  }
}
@media (min-width: 1400px) {
  .fa-heart:hover .fa-heart.pink {
    margin-left: 0%;
    margin-top: -43%;
    font-size: 28.5px;
  }
}

.fa-utensils {
  margin-right: 3%;
}
@media (min-width: 1025px) {
  .fa-utensils {
    margin-right: 3%;
  }
}

.fa-hands-helping {
  margin-right: 2%;
}

@media (min-width: 768px) {
  .fa-map-marker-alt {
    font-size: 20px;
  }
}
@media (min-width: 1025px) {
  .fa-map-marker-alt {
    font-size: 22px;
  }
}

.fa-arrow-left {
  font-size: 20px;
  margin-left: 10%;
  float: left;
  margin-top: 2%;
  color: black;
}
@media (min-width: 768px) {
  .fa-arrow-left {
    margin-left: 20%;
  }
}
@media (min-width: 900px) {
  .fa-arrow-left {
    margin-left: 29%;
    margin-top: 0.6%;
  }
}
@media (min-width: 1025px) {
  .fa-arrow-left {
    margin-left: 20%;
    margin-top: 1%;
  }
}

nav {
  border-top: 2px solid #cecece;
  border-bottom: 1px solid #cecece;
  margin-top: 5%;
  padding-bottom: 4%;
  background-color: #eaeaea;
  padding-left: 10%;
}

.chargement {
  border: 10px solid #f6f6f6;
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #9356dc;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: auto;
  position: absolute;
  top: -20%;
  right: 0;
  left: 0;
  bottom: 0;
  animation: spin 3s linear infinite;
  -webkit-animation: spin 3s linear infinite;
}
@media (min-width: 768px) {
  .chargement {
    width: 170px;
    height: 170px;
    margin: auto;
  }
}
@media (min-width: 1025px) {
  .chargement {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    margin: auto;
  }
}

.text {
  text-align: center;
  margin-top: 105%;
  font-size: 30px;
  transition: 1.5s ease-in-out;
  color: #ea72da;
  font-weight: bold;
}
@media (min-width: 768px) {
  .text {
    margin-top: 70%;
    font-size: 38px;
  }
}
@media (min-width: 1025px) {
  .text {
    margin-top: 40%;
    font-size: 40px;
  }
}

.loader {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation: hideloader 3s ease-in 0s forwards;
  -webkit-animation: hideloader 3s ease-in 0s forwards;
}
@media (min-width: 1025px) {
  .loader {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .loader {
    top: 40px;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.heartloader {
  position: relative;
  width: 15px;
  height: 15px;
  left: -24%;
  transform: rotate(45deg) translate(10px);
  z-index: 3;
  background: linear-gradient(35deg, #ea72da, #a75cdc);
  float: right;
  animation: animationheart 1s ease-in-out infinite;
}
@media (min-width: 768px) {
  .heartloader {
    width: 18px;
    height: 18px;
    left: -34%;
  }
}
@media (min-width: 1025px) {
  .heartloader {
    width: 20px;
    height: 20px;
    left: -40%;
  }
}

.heartloader::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  left: 0%;
  top: -50%;
  border-radius: 50%;
  z-index: -1;
  background: linear-gradient(35deg, #ea72da, #a75cdc);
}

.heartloader:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  bottom: 0%;
  right: -50%;
  border-radius: 50%;
  z-index: -1;
  background: linear-gradient(35deg, #ea72da, #a75cdc);
}

@keyframes animationheart {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
/**Création Loader**/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(150deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/**Chargement Loader**/
@keyframes hideloader {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
@-webkit-keyframes hideloader {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
/**Chargement page d'accueil**/
@keyframes hidepage {
  from {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
@-webkit-keyframes hidepage {
  from {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
.marge1 {
  animation: hidepage 3s ease-in 0s forwards;
  -webkit-animation: hidepage 3s ease-in 0s forwards;
}

/*# sourceMappingURL=style.css.map */
