$font-size:5vw;
$background-color: #f6f6f6;
$margin-right:3%;
$padding-top:3%;

// §breakpoints: (

$screen-sm-min: 375px;
$screen-md-min:768px;
$screen-lg-min:769px;
$screen-xl-min:1024px;

@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }  
}
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }  
}
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }  
}
@keyframes slide{
    0%{
        transform: translateY(0);
    }
    33%{
        transform: translateY(500px);
  
    }
    43%{
        transform: translateY(-1000px);
  
    }
    100%{
        transform: translateY(0);
  
    }
}