
.localisation
{
display:flex;
justify-content: center;
padding-top: $padding-top+1%;
flex-direction: row;
}

.picture
{
  object-fit: cover;
  width: 325px;
  height:159px;
  border-radius:15px 15px 0px 0px;
  @include md{
    width:450px;
    height:200px;
  }

  @include lg
  {
    width:440px;
    height:160px; 
  }

  @include xl
  {
    width:600px;
    height:200px; 
  }
}

figure
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:325px;
  margin-bottom:5%;
  margin-left: 7%;
  border: 2px grey;
  border-radius: 15px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
  @include smportrait{
    margin-left:22%;
  }
  @include md {
  width:450px;
  margin-left: 14%;
  }
  @include mdlandscape{
    margin-left:24%; 
  }
  @include lg{
    margin-left: 20%;
    width:440px;
    margin:0% 3% 3% 0%;
  }
  @include xl{
    margin-left: 20%;
    width:600px;
    margin:6% 6% 6% 2%;
  }
}

.pict_bis{
  object-fit: cover;
  width: 375px;
  margin: 0%;
  @include md{
    width:100%;
  }
  @include lg{
    width:1000px;
    margin-left: 0%;
  }
  @include xl{
    width:1400px;
    margin-left: 4%;
  }
}

figcaption
{
text-align: left;
margin-left: 1%;
font-size: 4vw;
padding:4%;
@include md{
  font-size:2vw;
}
@include lg{
  font-size:1.5vw;
}
}

.mail
{
  text-decoration:none;
  color:white;
  cursor: pointer;
}

.legend
{
  display: flex;
  justify-content: space-between;
}






